@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

:root {
  --main-bgcolor: white;
  --sec-bgcolor: whitesmoke;
  --highlight-bgcolor: #ff6900;
  --header-font: "Raleway", sans-serif;
  --paragraph-font: "Montserrat", sans-serif;
  --links-font: "Quicksand", sans-serif;
  --special-font: "Euphoria Script", cursive;
}

::-webkit-scrollbar {
  background-color: whitesmoke;
  max-width: 0.5rem;
  max-height: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--highlight-bgcolor);
  border-radius: 30rem;
}

body {
  background-color: var(--main-bgcolor);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.audio-film {
  background-image: url("https://images.unsplash.com/photo-1476231682828-37e571bc172f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.5);
  padding: 1rem 8rem 4rem;
}

.header {
  /* outline: 1px solid red; */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#back {
  color: var(--highlight-bgcolor);
  font-family: var(--header-font);
  background-color: var(--main-bgcolor);
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 2ch;
}

.packages-box {
  padding-block: 3rem;
  position: fixed;
  inset: 0;
  z-index: 5;
  background-color: var(--main-bgcolor);
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  visibility: hidden;
}

.show-package {
  visibility: visible;
}

#close {
  position: absolute;
  top: 1rem;
  right: 3rem;
  cursor: pointer;
  font-size: 3ch;
}

.package {
  display: grid;
  gap: 0.5rem;
}

.package h1 {
  font-size: 2.5ch;
}

.package-img-box img {
  border-radius: 0.3rem;
  height: 15rem;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.package a {
  background-color: var(--highlight-bgcolor);
  color: var(--main-bgcolor);
  padding: 0.3rem;
  border-radius: 0.3rem;
  text-align: center;
}

.audio-box {
  text-align: center;
  color: var(--main-bgcolor);
  margin-top: 1rem;
}

.audio-box h1 {
  font-size: 6ch;
  margin-top: 1rem;
  font-family: var(--header-font);
}

.audio-box h4 {
  font-family: var(--special-font);
  color: var(--highlight-bgcolor);
  margin: 1rem 0;
  font-size: 5ch;
}

.audio-box p,
.audio-box span {
  font-family: var(--paragraph-font);
  font-size: 2.5ch;
}

.audio-text {
  display: grid;
  gap: 1rem;
}

#text {
  font-family: var(--header-font);
  font-size: 4ch;
  margin-top: 2rem;
}

#text-span {
  font-family: var(--paragraph-font);
}

.mpesa {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: max-content;
  margin: 3rem auto 0;
  outline: 1px solid var(--main-bgcolor);
  border-radius: 0.3rem;
}

.mpesa div {
  padding: 0.5rem;
}

.mpesa h4 {
  font-size: 2ch;
  font-family: var(--header-font);
  margin: 0;
}

.mpesa-logo {
  border-right: 1px solid var(--main-bgcolor);
}

.mpesa-logo img {
  max-height: 2rem;
}

.account-info {
  grid-column: 1/3;
  border-top: 1px solid var(--main-bgcolor);
}

.payment-info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.payment-info p {
  padding: 0.5em;
  background-color: var(--main-bgcolor);
  color: #212121;
  font-weight: bold;
  border-radius: 0.3rem;
  max-width: max-content;
  font-size: 2ch;
}

#total {
  font-size: 3ch;
  color: greenyellow;
  padding: 0;
  background-color: transparent;
}

.payment-info p > b {
  color: greenyellow;
}

.audio-btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.audio-btn a {
  padding: 1em 2em;
  border-radius: 30rem;
  color: var(--main-bgcolor);
  background-color: var(--highlight-bgcolor);
  font-family: var(--header-font);
  font-size: 2.2ch;
}

.instagram {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}

.reels {
  position: relative;
  height: max-content;
}

.promo {
  max-width: 20rem;
  margin-top: 4rem;
  margin-inline: auto;
}

.reel {
  border-radius: 0.3rem;
  overflow: hidden;
  outline: 2px solid var(--highlight-bgcolor);
}

.reel video {
  height: 100%;
  max-height: 40rem;
}

.play-btn {
  position: absolute;
  inset: 0;
  height: 5rem;
  aspect-ratio: 1/1;
  background-color: var(--highlight-bgcolor);
  border-radius: 50%;
  border: none;
  z-index: 1;
  cursor: pointer;
  margin: auto auto;
  display: grid;
  place-items: center;
}

.play-btn img {
  height: 2.5rem;
  transform: translateX(0.2rem);
}

.active {
  z-index: -1;
}

video[poster] {
  object-fit: cover;
  width: 100%;
}

.event-info {
  padding: 4rem 18rem;
  background-color: var(--highlight-bgcolor);
}

.event-info p {
  font-size: 2.5ch;
  font-family: var(--links-font);
  text-align: center;
  line-height: 1.6;
  color: var(--main-bgcolor);
}

.info-bar {
  margin-top: 2rem;
  background-color: white;
  border-radius: 0.3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.info-bar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.info-bar div i {
  font-size: 2.5ch;
}

.film p,
.distance p,
.steps p {
  color: #212121;
}

.event-steps {
  padding: 4rem 8rem;
  background-color: var(--main-bgcolor);
}

.event-steps h1,
.makena h1 {
  text-align: center;
  font-family: var(--header-font);
  font-size: 5ch;
}

.event-steps-box {
  margin-top: 4rem;
}

.step {
  max-width: 40rem;
  margin-inline: auto;
  text-align: center;
  transform: translateY(5rem);
  transition: 1s;
  opacity: 0;
}

#num {
  background-color: var(--highlight-bgcolor);
  height: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: var(--main-bgcolor);
  font-family: var(--links-font);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5ch;
  margin: 0 auto;
}

.style-step {
  transform: translateY(0);
  opacity: 1;
}

.step i,
.step svg {
  margin-top: 1.5rem;
  font-size: 6ch;
}

.step p {
  font-family: var(--paragraph-font);
  line-height: 1.5;
  margin-top: 1rem;
}

.line {
  width: 0.1rem;
  height: 5rem;
  background-color: var(--highlight-bgcolor);
  margin: 1rem auto;
  border-radius: 30rem;
  transform: translateY(5rem);
  opacity: 0;
  transition: 0.8s;
}

.style-line {
  transform: translateY(0);
  opacity: 1;
}

.step-btn {
  margin-top: 2rem;
}

.makena {
  padding: 4rem 8rem;
  background-color: whitesmoke;
}

.makena-info {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.makena-info p {
  text-align: center;
  font-family: var(--paragraph-font);
  font-size: 2.2ch;
  max-width: 70rem;
  margin: 0 auto;
}

.team-slides-box {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  overflow-x: scroll;
  padding-bottom: 1rem;
}

.team-slides-box img {
  height: 15rem;
  aspect-ratio: 1.2/1;
  object-fit: cover;
  object-position: center -2rem;
  border-radius: 0.3rem;
}

@media screen and (max-width: 1200px) {
  .event-info {
    padding: 4rem 10rem;
  }
}

@media screen and (max-width: 1100px) {
  .audio-box h1 {
    font-size: 5ch;
  }
}

@media screen and (max-width: 900px) {
  .overlay {
    padding: 1rem 2rem;
  }

  .audio-box h1 {
    font-size: 4ch;
  }

  .audio-box h4 {
    font-size: 3ch;
  }

  .instagram {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }

  .reels {
    min-height: 25rem;
  }

  .reels video {
    max-height: 25rem;
  }

  .audio-text p {
    font-size: 2ch;
  }

  .event-info {
    padding: 4rem;
    font-size: 1.8ch;
  }

  .makena {
    padding-inline: 3rem;
  }

  .makena-info p {
    max-width: 90rem;
    font-size: 2ch;
  }

  .team-slides-box img {
    height: 10rem;
    aspect-ratio: 1.2/1;
  }
}

@media screen and (max-width: 700px) {
  .audio-box h1 {
    font-size: 3.5ch;
  }

  .event-steps {
    padding-inline: 2rem;
  }

  .step p {
    font-size: 1.8ch;
  }

  .step i {
    font-size: 4ch;
  }

  .step svg {
    width: 40px;
  }

  .makena {
    padding-inline: 2rem;
  }

  .makena-info p {
    max-width: 100rem;
    font-size: 1.8ch;
  }
}

@media screen and (max-width: 600px) {
  .instagram {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .reels {
    width: max-content;
    min-height: 20rem;
  }

  .reels video {
    height: 100%;
    max-height: 25rem;
  }
}

@media screen and (max-width: 500px) {
  .overlay {
    padding-inline: 1rem;
  }

  .audio-text p,
  .payment-info p {
    font-size: 1.8ch;
  }

  .event-info {
    padding: 4rem 1rem;
    font-size: 1.6ch;
  }

  .event-steps h1,
  .makena h1 {
    font-size: 4ch;
  }

  .makena,
  .event-steps {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 400px) {
  .audio-box h1 {
    font-size: 3ch;
  }

  .audio-box p,
  .audio-box span {
    font-size: 2ch;
  }

  .mpesa h4 {
    font-size: 1.6ch;
  }

  .event-info {
    padding: 2rem 1rem;
    font-size: 1.4ch;
  }

  .event-steps h1,
  .makena h1 {
    font-size: 3ch;
  }

  .step p,
  .makena-info p {
    font-size: 1.6ch;
  }

  #num {
    height: 2rem;
    font-size: 2ch;
  }

  .makena,
  .event-steps {
    padding: 4rem 1rem;
  }

  .style-step {
    transform: translateY(0);
    opacity: 1;
  }

  .info-bar {
    grid-template-columns: 1fr;
  }

  .info-bar div {
    flex-direction: row;
    justify-content: center;
  }

  .info-bar div i {
    font-size: 6ch;
  }

  .info-bar div p {
    font-size: 3ch;
  }

  .audio-text p,
  .payment-info p {
    font-size: 1.6ch;
  }
}

@media screen and (max-width: 300px) {
  .overlay {
    padding: 2rem 1rem;
  }

  .audio-box h1 {
    font-size: 5ch;
  }

  .audio-box h4 {
    font-size: 2.2ch;
  }

  .audio-box p,
  .audio-box span {
    font-size: 2ch;
  }

  .event-info {
    padding: 2rem 1rem;
    font-size: 1.4ch;
  }

  .event-steps h1,
  .makena h1 {
    font-size: 3ch;
  }

  #num {
    height: 2rem;
    font-size: 2ch;
  }
}
