@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

:root {
  --main-bgcolor: white;
  --sec-bgcolor: whitesmoke;
  --highlight-bgcolor: #ff6900;
  --header-font: "Raleway", sans-serif;
  --paragraph-font: "Montserrat", sans-serif;
  --links-font: "Quicksand", sans-serif;
  --special-font: "Euphoria Script", cursive;
}

::-webkit-scrollbar {
  background-color: var(--main-bgcolor);
  max-width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--highlight-bgcolor);
  border-radius: 30rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: var(--highlight-bgcolor);
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}

a {
  text-decoration: none;
}

#back {
  color: var(--highlight-bgcolor);
  font-family: var(--header-font);
  background-color: var(--main-bgcolor);
  padding: 1rem;
  border-radius: 0.3rem;
  font-size: 2.5ch;
  /* position: absolute;
  inset: 2rem auto auto 5rem; */
}

.pricing {
  padding: 5rem 2rem;
}

.pricing > h1 {
  text-align: center;
  color: var(--main-bgcolor);
  font-family: var(--header-font);
}

.pricing-info {
  margin-top: 2rem;
  display: grid;
  gap: 0.6rem;
}

.pricing-info p {
  text-align: center;
  color: var(--main-bgcolor);
  font-family: var(--paragraph-font);
  max-width: 50%;
  margin-inline: auto;
  font-weight: bold;
}

#bold {
  background-color: white;
  color: #212121;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.pricing-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-content: center;
  background-color: var(--highlight-bgcolor);
  max-width: max-content;
  margin: 1rem auto 0;
  padding: 2rem;
}

.columns > h1 {
  text-align: center;
  color: var(--highlight-bgcolor);
  font-family: var(--header-font);
}

.columns {
  padding: 2rem;
  max-width: 25rem;
  background-color: var(--main-bgcolor);
  border-radius: 0.3rem;
  display: grid;
  gap: 1rem;
}

.prices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

#add {
  margin-inline: 1rem;
  font-family: var(--paragraph-font);
  font-weight: bold;
  font-size: 5ch;
  color: var(--highlight-bgcolor);
}

.price-stats {
  text-align: center;
  font-family: var(--paragraph-font);
}

.price-box {
  text-align: center;
  justify-content: center;
}

.price-box p {
  font-family: var(--paragraph-font);
}

.price-box h1,
.price-stats h1 {
  font-family: var(--links-font);
  font-weight: bold;
}

#hr {
  grid-column: 1/3;
  margin: 0.5rem 0;
}

.price-total {
  width: 100%;
  text-align: center;
  font-family: var(--paragraph-font);
}

.price-total h1 {
  font-size: 5ch;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.price-total h1 > span {
  font-size: 0.5ch;
}

.price-info {
  font-family: var(--links-font);
  font-size: 1.8ch;
  text-align: left;
  display: grid;
  gap: 0.3rem;
}

.price-btn {
  margin-top: 2rem;
  text-align: center;
}

.button {
  background-color: green;
  border: none;
  border-radius: 0.3rem;
  color: white;
  padding: 1em 2em;
  font-size: 2.5ch;
  text-decoration: none;
  font-family: var(--header-font);
  cursor: pointer;
}

.form {
  margin-top: 3rem;
  padding: 1rem;
  display: none;
}

.hide-pricing {
  display: none;
}

.show-form {
  display: block;
}

.header {
  text-align: center;
  font-family: var(--header-font);
  font-size: 5ch;
  color: var(--main-bgcolor);
}

.form-box {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 4rem;
}

.order-box {
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: var(--main-bgcolor);
  height: max-content;
  /* max-width: 25rem; */
}

.order-box hr {
  border: none;
  outline: 1px solid whitesmoke;
  margin: 1rem 0;
}

.order-box h1 {
  font-family: var(--header-font);
  text-align: center;
}

.order-box-info {
  display: grid;
  gap: 1rem;
}

.order {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.order-box-info h4 {
  font-family: var(--header-font);
  text-align: center;
  display: grid;
}

#total-amount {
  font-size: 5ch;
  font-family: var(--paragraph-font);
  color: var(--highlight-bgcolor);
}

.order-users {
  font-family: var(--paragraph-font);
}

#info {
  text-align: center;
  font-family: var(--paragraph-font);
}

.mpesa-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: max-content;
  margin: 1rem auto 0;
  outline: 1px solid var(--main-bgcolor);
  border-radius: 0.3rem;
  outline: 1px solid grey;
}

.mpesa-box div {
  padding: 0.5rem;
  text-align: center;
}

.mpesa-box h4 {
  font-size: 2ch;
  font-family: var(--header-font);
  margin: 0;
}

.mpesa-logo {
  border-right: 1px solid grey;
}

.mpesa-logo img {
  max-height: 2rem;
}

.promocode {
  text-align: center;
}

.promocode p {
  font-family: var(--paragraph-font);
}

.account-info {
  grid-column: 1/3;
  border-top: 1px solid grey;
}

.paybill p,
.account-info p {
  font-family: var(--paragraph-font);
}

.order-text p {
  font-family: var(--links-font);
  font-weight: bold;
  text-align: center;
  background-color: var(--highlight-bgcolor);
  padding: 0.5em;
  border-radius: 0.3rem;
  color: var(--main-bgcolor);
  font-size: 1.8ch;
}

.order-note {
  display: grid;
  gap: 0.4rem;
  font-family: var(--links-font);
  font-size: 1.8ch;
  color: grey;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background-color: var(--main-bgcolor);
  padding: 2rem;
  border-radius: 0.3rem;
}

.more-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.more-inputs h4 {
  grid-column: 1/3;
  font-family: var(--header-font);
  text-align: center;
}

.input {
  display: grid;
  gap: 0.8rem;
}

.payment-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 100%;
  background-color: var(--highlight-bgcolor);
  padding: 0.5em;
  border-radius: 0.3rem;
}

.payment-info p {
  font-family: var(--paragraph-font);
  color: var(--main-bgcolor);
}

#total {
  font-size: 3ch;
  color: greenyellow;
}

.payment-info p:nth-child(3),
#total {
  grid-column: 1/3;
  text-align: center;
}

form button,
.note,
.mpesa,
.more-inputs,
.more-people,
.payment-info {
  grid-column: 1/3;
}

label {
  color: #212121;
  font-family: var(--links-font);
}

input,
select {
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  font-family: var(--paragraph-font);
  font-size: 2ch;
  outline: 1px solid whitesmoke;
  background-color: var(--sec-bgcolor);
}

input:focus,
select:focus {
  outline: 2px solid var(--highlight-bgcolor);
}

.note {
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: grey;
  grid-column: 1/3;
  font-family: var(--paragraph-font);
  color: var(--main-bgcolor);
  display: grid;
  place-items: center;
  gap: 0.6rem;
  text-align: center;
}

.info {
  padding: 0.5rem;
  color: #31708f;
  background-color: #d9edf7;
  animation: pulse 1s infinite ease-in-out;
}

.more-people {
  padding: 0.1rem;
  color: var(--highlight-bgcolor);
  text-align: center;
  font-family: var(--links-font);
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

form button {
  margin-top: 1rem;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.3rem;
  font-family: var(--header-font);
  font-size: 2.5ch;
  background-color: var(--highlight-bgcolor);
  color: var(--main-bgcolor);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .price-stats p {
    font-size: 1.2ch;
  }

  .price-box p {
    font-size: 1.6ch;
  }

  .price-box h1 {
    font-size: 2ch;
  }

  .price-stats h1 {
    font-size: 1.5ch;
  }
}

@media screen and (max-width: 1100px) {
  .form-box {
    flex-direction: column-reverse;
    max-width: 60%;
    margin-inline: auto;
  }

  .pricing-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .pricing-info p {
    max-width: 100%;
    font-size: 1.6ch;
  }
}

@media screen and (max-width: 900px) {
  .form-box {
    max-width: 80%;
  }

  .pricing-box {
    padding-inline: 0;
  }
}

@media screen and (max-width: 700px) {
  .form > h1 {
    font-size: 4ch;
    margin: 2rem auto 0;
  }

  #back {
    top: 1rem;
    left: 1rem;
  }

  .form-box {
    max-width: 100%;
  }

  form {
    grid-template-columns: 1fr;
    min-width: 60vw;
  }

  .payment-info {
    grid-template-columns: 1fr;
  }

  form button,
  .note,
  .mpesa,
  .more-inputs,
  .more-people,
  .payment-info,
  .payment-info p:nth-child(3),
  #total {
    grid-column: 1/2;
  }

  .payment-info p:nth-child(3) {
    text-align: left;
  }

  .more-inputs {
    grid-template-columns: repeat(1, 1fr);
  }

  .more-inputs h4 {
    grid-column: 1/2;
  }

  .columns > h1 {
    font-size: 2.5ch;
  }

  .price-info p {
    font-size: 1.6ch;
  }

  .pricing-box {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .form > h1 {
    font-size: 3ch;
    margin: 2rem auto 0;
  }

  form {
    padding: 1rem;
  }

  input {
    width: 100%;
  }

  .pricing {
    padding-inline: 1rem;
  }

  .pricing > h1,
  .columns > h1 {
    font-size: 2.2ch;
  }

  .price-info p {
    font-size: 1.5ch;
    text-align: left;
  }

  .columns,
  .pricing-box {
    padding-inline: 1rem;
  }

  .pricing-box {
    padding-inline: 0;
  }

  .columns {
    max-width: 35rem;
  }

  .mpesa-logo h4,
  .account-info h4,
  .paybill h4 {
    font-size: 1.6ch;
  }
}
